.vscode
Git
2.1.503_IsDockerContainer.dotnetUserLevelCache
2.1.503_MachineId.dotnetUserLevelCache
2.2.103_IsDockerContainer.dotnetUserLevelCache
2.2.103_MachineId.dotnetUserLevelCache
2.2.103.aspNetCertificateSentinel
2.2.103.dotnetFirstUseSentinel
2.2.103.toolpath.sentinel
